### IDE ###

## JetBrains ##
**/.idea/
*.iml
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover
**/ProjectSettings/RiderScriptEditorPersistedState.asset

## Visual Studio ##
**/.vs/
**/.vscode/
**/.vshistory/
**/.localhistory/
**/.history/
**/.vsconfig
*.code-workspace

## Xcode ##
*.xcodeproj
*.xcworkspace
xcuserdata/
*.xcscmblueprint
*.xccheckout

### GAME ENGINE ###

## Unity ##
/[Ll]ibrary/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Ss]creenshots/
/[Uu]ser[Ss]ettings/
ExportedObj/
.consulo/
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.unitypackage
sysinfo.txt
# Asset meta data should only be ignored when the corresponding asset is also ignored.
!/[Aa]ssets/**/*.meta
# Uncomment this line if you wish to ignore the asset store tools plugin.
# /[Aa]ssets/AssetStoreTools*
!/[Aa]ssets/Photon/Fusion/Assemblies/*.pdb.meta
!/[Aa]ssets/Photon/PhotonLibs/netstandard2.0/*.pdb.meta
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/Plugins/Android/*.jar
/[Aa]ssets/Plugins/Android/*.jar.meta
/[Aa]ssets/Plugins/Android/*.aar
/[Aa]ssets/Plugins/Android/*.aar.meta
/[Aa]ssets/Plugins/Android/*.DISABLED
/[Aa]ssets/Plugins/Android/*.DISABLED.meta
/[Aa]ssets/[Ss]treamingAssets/google-services-desktop.json
/[Aa]ssets/[Ss]treamingAssets/google-services-desktop.json.meta
# PlayFab Settings - commit this once so it's available, ignore it after so we don't commit the secret dev key.
/[Aa]ssets/PlayFabSDK/Shared/Public/Resources/PlayFabSharedSettings.asset
/[Aa]ssets/PlayFabSDK/Shared/Public/Resources/PlayFabSharedSettings.asset.meta
/[Aa]ssets/PlayFabEditorExtensions/Editor/Resources/PlayFabEditorPrefsSO.asset
/[Aa]ssets/PlayFabEditorExtensions/Editor/Resources/PlayFabEditorPrefsSO.asset.meta

# Unity projects need to track the Packages folder.
# **/[Pp]ackages/*

# Unity projects have lots of .meta files that need to be tracked.
#*.meta

# Unity auto-generates these files, comment them out if non-Unity project.
*.csproj
*.sln
*.DotSettings

## Unreal ##
Build/*/**
!Build/*/
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
Content/Dev/*
DerivedDataCache/*
Intermediate/*
Plugins/**/Binaries/
Plugins/**/Intermediate/
Saved/*
SourceArt/**/*.png
SourceArt/**/*.tga
*_BuiltData.uasset
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.mod
*.lai
*.la
*.a
*.lib
*.opensdf
*.sdf
*.VC.opendb

### OS ###

## Windows ##
$RECYCLE.BIN/
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

## Linux ##
*~
# Unity UPM packages may contain Documentation~ and Samples~ folders.
!**/Documentation~
!**/Samples~
!**/ProjectData~
.fuse_hidden*
.directory
.Trash-*
.nfs*

## macOS ##
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### PROJECT AND REPO ###

## Sensitive ##
**/[Pp]rivate/
*.env
*.env.development.local
*.env.test.local
*.env.production.local
*.env.local
*.jks
*.keystore
*.tfvars
*.tfvars.json

## Build Pipeline ##
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
.sonarqube/
.gradle/
.bundle/

## Builds ##
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/[Aa]rtifacts/
**/[Bb]in/
**/[Bb]inaries/
**/[Bb]ld/
**/[Bb]uild/
**/[Bb]uilds/
**/[Dd]ebug/
**/[Dd]ebugPS/
**/[Dd]ebugPublic/
**/[Dd]ist/
**/[Oo]bj/
**/[Oo]ut/
**/[Oo]utput/
**/[Rr]elease/
**/[Rr]eleases/
**/[Rr]eleasePS/
**/[Tt]arget/
**/[Xx]64/
**/[Xx]86/
**/[Ww][Ii][Nn]32/
# Frostpeak plugins may have a Build folder that contains scripts for build pipelines,
# prebuild processors, build settings, etc. These should be tracked.
!**/Frostpeak/**/Build
!**/Packages/**/Build

## Logs ##
**/[Ll]og/
**/[Ll]ogs/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
crash.log
crash.*.log

## Binaries ##
*.exe
*.dll
*.so
*.dylib
*.bin
*.out
*.aab
*.apk
*.ipa
*.war
*.ear
*.swf
*.air
*.swc
*.dSYM
*.dSYM.zip

## Archives ##
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tgz
*.zip

## Temp/Cache ##
**/[Cc]ache/
**/[Tt]emp/
*.tmp
*.temp
*.[Cc]ache
# Keep track of directories ending in .cache
!?*.[Cc]ache/

## Dependency Management ##
**/node_modules/
**/jspm_packages/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

### Tools/Frameworks ###

## Google/Firebase ##
# Uncomment this if repo is public.
#google-services.json
com_crashlytics_export_strings.xml
crashlytics.properties
fabric.properties
crashlytics-build.properties
!*.app/

## Terraform ##
**/.terraform
*.tfstate
*.tfstate.*
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/.terragrunt-cache/

## Ansible ##
*.retry
.vault*

### LANGUAGE ###

## C++ ##
*.d
*.smod
cmake-build-*/
atlassian-ide-plugin.xml
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json

## C#/.NET ##
*.rsuser
*.userosscache
*.sln.docstates
mono_crash.*
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/
Generated\ Files/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
dlldata.c
BenchmarkDotNet.Artifacts/
project.lock.json
project.fragment.lock.json
ScaffoldingReadMe.txt
StyleCopReport.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*_wpftmp.csproj
*.tlog
*.vspscc
*.vssscc
.builds
*.svclog
*.scc
_Chutzpah*
ipch/
*.aps
*.ncb
*.cachefile
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap
*.e2e
$tf/
*.gpState
.axoCover/*
!.axoCover/settings.json
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.mm.*
AutoTest.Net/
.sass-cache/
[Ee]xpress/
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
PublishScripts/
csx/
*.build.csdef
ecf/
rcf/
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload
ClientBin/
~$*
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
*.snk
bower_components/
Generated_Code/
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak
*.mdf
*.ldf
*.ndf
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
FakesAssemblies/
*.GhostDoc.xml
.ntvs_analysis.dat
*.plg
*.opt
*.vbw
*.vbp
*.dsw
*.dsp
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions
.paket/paket.exe
paket-files/
.fake/
.cr/personal
__pycache__/
*.pyc
# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config
*.tss
*.jmconfig
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs
OpenCover/
ASALocalRun/
*.binlog
*.nvuser
.mfractor/
healthchecksdb
MigrationBackup/
.ionide/
FodyWeavers.xsd

## Go ##
!go.mod
!go.sum

## Python ##
package/*
!package/setup.py
proj/
